<%= form_with(model: movie_info, local: true) do |form| %>

  <%= render 'movie_infos/shared/errors', object:movie_info %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= f.select :rating, MovieInfo::RATINGS, prompt: "Pick one" %>
  </div>

  <div class="field">
    <%= form.label :total_gross %>
    <%= form.text_field :total_gross %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :released_on %>
    <%= form.text_field :released_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
