<%= form_with(model: movie_info, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>

  <div class="field">
    <%= form.label :total_gross %>
    <%= form.text_field :total_gross %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :released_on %>
    <%= form.text_field :released_on %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
