<p id="notice"><%= notice %></p>

<h1>Movie Infos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Total gross</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_infos.each do |movie_info| %>
      <tr>
        <td><%= link_to movie_info.title, movie_path(movie_info) %></td>
        <td><%= movie_info.rating %></td>
        <td><%= movie_info.total_gross %></td>
        <td><%= link_to 'Show', movie_info %></td>
        <td><%= link_to 'Edit', edit_movie_info_path(movie_info) %></td>
        <td><%= link_to 'Destroy', movie_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie Info', new_movie_info_path %>
